<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/khata.css">
    <title>add khata</title>
</head>
<body>
    <form method="post" action="/ADDkhata">
        <textarea placeholder="enter khata" name="data" required></textarea>
        <input placeholder="enter title" name="khataname" required>
        <button type="submit">add</button>
    </form>
</body>
</html>