<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/khata.css">
    <title>home</title>
</head>
<body>
    <div>
        <a href="/signup">signup</a>
        <% if (go == 0) { %>
            <a href="/login">login</a>
        <% } %>
        <a href="/logout">logout</a>
        <a href="/contact">contact</a>
        <a href="/location">location</a>
        
    </div>
</body>
</html>